<div class="container">
    <div class="row">
        <div class="col">
            <h2>Server Name</h2>
            <input type="text" class="form-control" [(ngModel)]="serverName">
            <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="updateServerStatus()">Add
                Server</button>
            <!-- <p>{{serverStatus}}</p> -->
            <!-- <p *ngIf="serverCreated ; else noServer">Server was created! With Name {{serverName}}</p>
            <ng-template #noServer>
                <p>No server created</p>
            </ng-template> -->
            @if(serverCreated){
            <p>Server was added! Name is {{serverName}}</p>
            }@else{
            <p>No server added</p>
            }
            <app-servers *ngFor="let server of servers"></app-servers>

        </div>
    </div>
</div>